<div class="navbar" style="background-color: #75B1A9;">
  <div class="flex-1">
    <%= link_to 'わんことGO', root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>投稿する</a></li>
      <li><%= link_to 'レビュー検索', posts_path %></li>
      <li><a>マップ</a></li>
      <li><a>マイページ</a></li>
      <div class="mx-4 border-l h-8 border-white opacity-50"></div>
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '会員登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>