<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content w-full max-w-md mx-auto flex-col lg:flex-row-reverse">
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>

          <fieldset class="fieldset space-y-4">

            <div>
              <label class="label">
                <span class="label-text">メールアドレス</span>
              </label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
            </div>

            <div class="mt-4">
              <%= f.submit "パスワード再設定用のメールを送信", class: "btn btn-neutral w-full" %>
            </div>

          </fieldset>
        <% end %>

        <div class="mt-4">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
