<div class="hero bg-base-200 min-h-screen pt-16 pb-16">
  <div class="hero-content w-full max-w-3xl mx-auto flex-col lg:flex-row-reverse">
    <div class="card bg-base-100 w-full max-w-3xl shrink-0 shadow-2xl">
      <div class="card-body">
        <%= form_with model: @post, local: true, html: { multipart: true } do |f| %>
          <%= render "posts/shared/error_messages", object: @post %>

          <fieldset class="fieldset space-y-4">        

            <div>
              <label class="label">
                <span class="label-text">スポット名</span>
              </label>
              <%= f.text_field :title, class: "input input-bordered w-full", placeholder: "例：ドッグカフェ わんこは宝物" %>
            </div>

            <div>
              <label class="label">
                <span class="label-text">住所</span>
              </label>
              <%= f.text_field :address, class: "input input-bordered w-full", placeholder: "例：東京都渋谷区〇〇1-2-3" %>
            </div>

            <div>
              <label class="label">
                <span class="label-text">レビュー内容</span>
              </label>
              <%= f.text_area :body, rows: 6, class: "textarea textarea-bordered w-full", placeholder: "訪れた感想など" %>
            </div>

            <div>
              <label class="label">
                <span class="label-text">画像アップロード（複数枚可能です！）</span>
              </label>
              <%= f.file_field :images, multiple: true, class: "file-input file-input-bordered w-full" %>
            </div>

            <% if @post.images.present? %>
              <div class="flex space-x-2 mb-4">
                <% @post.images.each do |img| %>
                  <div class="w-20 h-20 overflow-hidden rounded">
                    <%= image_tag img.url, class: "object-cover w-full h-full" %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <div class="mt-4">
              <%= f.submit "レビューを更新する", class: "btn btn-neutral w-full" %>
            </div>

          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
