<div class="hero bg-base-200 min-h-screen py-10">
  <div class="hero-content w-full max-w-3xl mx-auto flex-col">
    
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold">みんなのレビュー</h1>
    </div>

    <!-- 取り急ぎ検索ボックスを用意。後ほど検索機能実装の時再確認　-->
    <div class="mb-8 w-full max-w-3xl mx-auto">
      <%= form_with url: posts_path, method: :get, local: true do |f| %>
        <div class="relative">
          <%= f.text_field :q, value: params[:q], placeholder: "キーワードで検索（例：カフェ、イタリアンなど）", class: "input input-bordered w-full pr-20" %>
          <div class="absolute inset-y-0 right-0 flex items-center">
            <%= f.submit "検索", class: "btn btn-neutral rounded-l-none h-full" %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @posts.any? %>
      <div class="w-full space-y-6">
        <% @posts.each do |post| %>
          <div class="card bg-base-100 shadow-md">
            <div class="card-body">
              <h2 class="card-title text-xl font-semibold">
                <%= post.title %>
              </h2>
              <p class="text-sm text-gray-500 mb-2">
                <%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
              </p>
              <p><%= truncate(post.body, length: 100) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="text-center text-gray-500 mt-10">
        投稿はまだありません。
      </div>
    <% end %>

  </div>
</div>
